/terraform-provider-varlet
/varlet-server
varlet.db

##########
# Golang #
##########

*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out
coverage.*
*.coverprofile
profile.cov

go.work
go.work.sum

.env

#############
# Terraform #
#############

**/.terraform/

*.tfstate
*.tfstate.*

crash.log
crash.*.log

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform.tfstate.lock.info
.terraformrc
terraform.rc


# We are aware of the anti-pattern here, but we are only hold examples.
examples/**/.terraform*
examples/**/*.tfstate*
